{% extends 'car/base.html' %}
{% block scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <body>

<div id="tooplate_wrapper">

	<div id="tooplate_header">
        <div id="site_title"><h1><a href="#">Dongelek.kz</a></h1></div>


    <div id="tooplate_main">

		<div id="tooplate_content">

      		<div class="col_w900">
            	<h2>About Us</h2>
                <p>Name of the our group is Key To Life. In our group we have 5 members. Whose name is Zangar , Yernar , Asset , Marlen , Dimash.  </p>


				<h2>About Site</h2>
                <p>We want to do this site to look alike to <a href="https://kolesa.kz/" rel="nofollow"><strong>kolesa</strong></a> , but on the other case we want to do something special, and this site is the result of out work.</p>
                <h2>We in social sites</h2>
				<ul class="tooplate_list">
                    <li><a href="https://kolesa.kz/" rel="nofollow"><strong>Zangar</strong></a> </li>
                    <li><a href="https://www.instagram.com/khsndmsh/" rel="nofollow"><strong>Dimash</strong></a>(in instagram)</li>
                    <li><a href="https://kolesa.kz/" rel="nofollow"><strong>Asset</strong></a></li>
                    <li><a href="https://kolesa.kz/" rel="nofollow"><strong>Marlen</strong></a></li>
                    <li><a href="https://www.instagram.com/yernare/" rel="nofollow"><strong>Yernar</strong></a>(in instagram)</li>
                </ul>

                <div class="cleaner"></div>
            </div>

            <div class="cleaner"></div>
            </div>

        </div>

    </div>

    <div id="tooplate_footer">
    	Copyright © 2048     <a href="https://bil.edu.kz/" rel="nofollow"><strong>Key To Life</strong></a>
	</div>

</div>
</body>
{% endblock %}