{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/addPhotos.css' %}">
{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" action="{{ car.get_absolute_add_url }}" method="post">
        {% csrf_token %}
        <label for="images">
            <div class="btn">
                Choose images
            </div>
        </label>
        <input type="file" hidden multiple name="image" id="images">
        <br>
        <br>
        <br>
        <button type="submit" href="/" class="add-btn">Add images</button>
    </form>
{% endblock %}