{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/brand.css' %}">
{% endblock %}

{% block content %}
    <div class="titles">
        <div></div>
        <div class="title">{{brand}}</div>
        <form action="{{ brand.get_absolute_url }}" method="get" class="title_form">
            <select onchange="this.form.submit()" name="sort" class="title_select" id="sort">
                <option value="none" selected disabled hidden>Sorting</option>
                <option value="priceup">Ascending prices </option>
                <option value="pricedown">Descending prices</option>
                <option value="news">New</option>
                <option value="olds">Old</option>
            </select>
        </form>
    </div>


    <div class="subcategory_cars">
        {% if cars %}
            {% for car in cars %}
                <div class="in_category_car">
                    <div class="car_img_box" onclick="location.href='{{ car.get_absolute_url }}'">
                        <img class="car_img" src="{{car.main_image.url}}" alt="{{car.name}}">
                    </div>
                    <div class="in_category_car_main_information">
                        <div class="in_category_car_year_run_info">
                            {{car.year}} / {{car.run}} kilometre
                        </div>
                        <div class="in_category_car_name_price_info">
                            <div class="name">
                                {{car.name}}
                            </div>
                            <div class="in_category_car_price">
                                <div class="price">
                                    {{ car.price }}
                                </div>
                                &nbsp;
                                <div class="currency">KZT</div>
                            </div>
                        </div>
                        <div class="in_category_car_city_info">
                            <img src="{% static 'images/location_icon.png' %}" width="13px">
                            {{car.city}}, KZ
                        </div>
                        <div class="in_category_car_created_date_info">
                            <div class="row">
                                <div class="col-md-6">{{car.time_created}}</div>
                                <div class="col-md-6">{{car.get_comments}} Comments</div>
                            </div>
                        </div>
                        <div class="in_category_car_created_button">
                            <button class="button" onclick="location.href='{{ car.get_absolute_url }}'">More Info</button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <div></div>
            <div class="not-found-main-container">
                <div class="not-found-container ">
                    <div class="not-found-main-message-container">
                        There is no vehicle
                    </div>
                    <div class="not-found-image-container">
                        <img src="{% static 'images/searching.png' %}" alt="" width="100%">
                    </div>
                    <a href="{% url 'add_car' %}">
                        Add advertisements
                    </a>
                </div>
            </div>
            <div></div>
        {% endif %}
    </div>

    </div>

{% endblock %}

{#{{car.engine_capacity}}L,#}
{#<div class="currency">KZT</div>#}