{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js\deleteCar.js' %}" defer></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/my_advertisements.css' %}">
{% endblock %}
{% block content %}
<form action="" method="post" id="delete-form">
    {% csrf_token %}
    {% if cars %}
        {% for car in cars %}
            {% if car.isSold %}
                <div class="statistics_main_container " onclick="">
                    <div class="statistics_main_image_container">
                        <img src="{{car.main_image.url}}" alt="{{car.name}}" width="100%">
                    </div>
                    <div class="main_information_container">
                        <div class="name_container">
                            {{car.name}}
                        </div>
                        <div class="date_container">{{car.time_created}}</div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\comment.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_comments}}&nbsp;</div>
                            <div class="statistic_decription">Comments</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\average.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_average_rating}}&nbsp;</div>
                            <div class="statistic_decription">Average</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\ava.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_count_rating}}&nbsp;</div>
                            <div class="statistic_decription">Rated</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\view.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_visiters}}&nbsp;</div>
                            <div class="statistic_decription">Views</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\cart.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_carts}}&nbsp;</div>
                            <div class="statistic_decription">Added</div>
                        </div>
                    </div>
                </div>  
            {% else %}
                <div class="statistics_main_container" onclick="location.href='{{ car.get_absolute_url }}'">
                    <div class="statistics_main_image_container">
                        <img src="{{car.main_image.url}}" alt="{{car.name}}" width="100%">
                    </div>
                    <div class="main_information_container">

                        <div class="name_container">
                            {{car.name}}
                        </div>
                        <div class="date_container">{{car.time_created}}</div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\comment.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_comments}}&nbsp;</div>
                            <div class="statistic_decription">Comments</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\average.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_average_rating}}&nbsp;</div>
                            <div class="statistic_decription">Average</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\ava.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_count_rating}}&nbsp;</div>
                            <div class="statistic_decription">Rated</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\view.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_visiters}}&nbsp;</div>
                            <div class="statistic_decription">Views</div>
                        </div>
                        <div class="statistics_container">
                            <div>
                                <img src="{% static 'images\cart.png' %}" alt="" width="30px">
                            </div>
                            <div class="statistic_number">{{car.get_carts}}&nbsp;</div>
                            <div class="statistic_decription">Added</div>
                        </div>
                    </div>
                    <div class="buttons_container">
                        <button type="submit" class="delete_button" id="{{car.pk}}">Delete</button>
                        <a href="{{ car.get_absolute_update_url }}">
                            <div>Update</div>
                        </a>
                        <a href="{{ car.get_absolute_add_url }}">Add new photos</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {%else%}
        <div class="not-found-container ">
            <div class="not-found-main-message-container">
                You don't have any vehicle
            </div>
            <div class="not-found-image-container">
                <img src="{% static 'images/searching.png' %}" alt="" width="100%">
            </div>
            <a href="{% url 'add_car' %}">
                Add your first advertisements
            </a>
        </div>
    {%endif%}
    </form>
{% endblock %}