{% extends 'car/base.html' %}
{% load static %}
{% block scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}
{% block content %}
    <div class="titles">
        <div></div>
        <div class="title">My purchases</div>
    </div>
    <div class="subcategory_cars">
        {% if cars %}
          {% for car in cars %}
            <div class="in_category_car">
                <div class="car_img_box" onclick="location.href='{{ car.car.get_absolute_url }}'">
                    <img class="car_img" src="{{car.car.main_image.url}}" alt="{{car.car.name}}">
                </div>
                <div class="in_category_car_main_information">
                    <div class="in_category_car_year_run_info">
                        {{car.car.year}} / {{car.car.run}} kilometre
                    </div>
                    <div class="in_category_car_name_price_info">
                        <div class="name">
                            {{car.car.name}}
                        </div>
                        <div class="in_category_car_price">
                            <div class="price">
                                {{ car.car.price }}
                            </div>
                            &nbsp;
                            <div class="currency">KZT</div>
                        </div>
                    </div>
                    <div class="in_category_car_city_info">
                        <img src="{% static 'images/location_icon.png' %}" width="13px">
                        {{car.car.city}}, KZ
                    </div>
                    <div class="in_category_car_created_date_info">
                        <div class="row">
                            <div class="col-md-6">{{car.car.time_created}}</div>
                            <div class="col-md-6">{{car.car.get_comments}} Comments</div>
                        </div>
                    </div>
                    <form class="in_category_car_created_button" action="{%url 'purchase_pdf' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button" name="purchase" value="{{car.id}}">Check</button>
                    </form>
                </div>

            </div>
          {% endfor %}
        {% else %}
            <div></div>
            <div class="not-found-main-container">
                <div class="not-found-container ">
                    <div class="not-found-main-message-container">
                        There is no vehicle
                    </div>
                    <div class="not-found-image-container">
                        <img src="{% static 'images/searching.png' %}" alt="" width="100%">
                    </div>
                    <a href="{% url 'add_car' %}">
                        Add advertisements
                    </a>
                </div>
            </div>
            <div></div>
        {% endif %}  
    </div>
{% endblock %}